@charset "UTF-8";
* {
/*height: 100% ;*/
font-family: Arial, Helvetica, sans-serif;
}
body{background-image: linear-gradient(to right, #F2C1B0, #D29C9A);}
main{
background-color: white;
border-radius: 10px;
box-shadow: 5px 5px 15px #4b38378d;
width: 600px;
padding: 10px;
margin: auto;
}
h1{
color: #262626;
text-align: center;
text-shadow: 1px 1px 2px #16161686;
}
h2{color: #FCE3C5;}
p{
text-align: justify;

}